<section>
  <h1 class="text-3xl mb-8">
    <span class="title">Shopping Cart</span>
  </h1>
  <div class="grid max-lg:grid-cols-1 grid-cols-3 gap-5">
    <div class="lg:col-span-2">
      @for (item of cartList(); track $index) {
      <cart-item [item]="item"></cart-item>
      }
    </div>
    <div class="lg:col-span-1">
      <div class="bg-[#f6f6f6] p-5 rounded-md">
        <h2 class="text-xl mb-4 text-orange">Order summary</h2>
        <p
          class="flex justify-between items-center py-4 border-b border-borderColor"
        >
          <span class="font-bold text-gray">Subtotal</span>
          <span>100$</span>
        </p>
        <p
          class="flex justify-between items-center py-4 border-b border-borderColor"
        >
          <span class="font-bold text-gray">Discount </span>
          <span class="text-[red]">10$</span>
        </p>
        <p
          class="flex justify-between items-center py-4 border-b border-borderColor"
        >
          <span class="font-bold text-gray">Shipping estimate</span>
          <span>5$</span>
        </p>
        <p
          class="flex justify-between items-center py-4 border-b border-borderColor"
        >
          <span class="font-bold text-gray">Tax estimate </span>
          <span>1$</span>
        </p>
        <p class="flex justify-between items-center py-4">
          <span class="font-bold">Order total </span>
          <span class="text-[green]">96$</span>
        </p>
        <button
          class="w-full mt-5 bg-orange text-[#fff] text-center py-3 rounded-md"
        >
          Checkout
        </button>
      </div>
    </div>
  </div>
</section>
